{% extends 'BootGridApp/base.html' %}

{% block css %}
<style>
    header, article, div{background: #721c24;}
</style>
{% endblock css %}


{% block header %}
Page Two
{% endblock header %}

{% block content %}
<p>Ask her how her day was. No! The kind with looting and maybe starting a few fires! Now that the, uh, garbage ball is in space, Doctor, perhaps you can help me with my sexual inhibitions? Humans dating robots is sick. You people wonder why I'm still single? It's 'cause all the fine robot sisters are dating humans!</p>
<p>Can I use the gun? Oh, you're a dollar naughtier than most. <strong> In our darkest hour, we can stand erect, with proud upthrust bosoms.</strong> <em> Tell her you just want to talk.</em> It has nothing to do with mating.</p>

<p>I didn't ask for a completely reasonable excuse! I asked you to get busy! Eeeee! Now say "nuclear wessels"! I love you, buddy! And until then, I can never die? This opera's as lousy as it is brilliant! Your lyrics lack subtlety. You can't just have your characters announce how they feel. That makes me feel angry!</p>

<p>Well, then good news! It's a suppository. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Oh dear! She's stuck in an infinite loop, and he's an idiot! Well, that's love for you.</p>

<a href="{% url 'index' %}" class="press">PREV</a>
<a href="{% url 'page3' %}" class="press">NEXT</a>
{% endblock content %}